/*--------------------
Body
--------------------*/
body {
  height: 100vh;
  margin: 0;
  background: white;
  color: #38383b;
  font-size: 15px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: larger Lato, Roboto, sans-serif;
  overflow: hidden;
}

/*--------------------
App
--------------------*/
.top-bar {
	position: relative;
	top: 5%;
}


.info {
  z-index: 1;
  position: relative;
  top: 10px;
  left: 25px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

#search-container {
  position: relative;
  z-index: 1;
  top: 18px;
  left: 20px;
  width: min-content;
  height: min-content;
}

.suggestion-list {
  position: relative;
  width: 388px;
  left: 6px;
  top: -10px;
  visibility: hidden;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
  list-style-type: none;
  font-size: 16px;
  font-family: larger Lato, Roboto, sans-serif;
  color: #5a6674;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.suggested-item {
  position: relative;
  left: 13px;
  padding: 2px 0px;
  cursor: default;
  outline: none;
}
/*
.suggested-item:hover {
  color: black;
}
*/
#search-form {
  position: relative;
  top: 25px;
  left: 205px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#search-form.focus {
  position: relative;
  z-index: 1;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
}

.search-input {
  position: relative;
  top: -3px;
  left: 18px;
  font-size: 16px;
  font-family: larger Lato, Roboto, sans-serif;
  background: none;
  color: #5a6674;
  width: 295px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.char-button {
  position: relative;
  top: -5px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
}

.char-button:focus{
  outline: none;
}

#intersection-button {
  left: 0px;
}

.search-button {
  position: relative;
  top: 5px;
  left: 2px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-button img {
  width: 30px;
  height: 30px;
  fill: #5a6674;
}


#svg-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}


.tooltip {	
    position: absolute;			
    text-align: left;			
    width: auto;										
    padding: 10px;				
    font-size: 16px;	
	color: white;	
    background: #38383b;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);		
    pointer-events: none;		
}

mark.centerNode {
  background: inherit;
  color: #fa8c8c;
  font-weight: bold;
}

mark.nonCenterNode{
  background: inherit;
  color: #a1d5ff;
  font-weight: bold;
}

.main-stop-right {
	stop-opacity: 0;
    stop-color: white;  /* Indigo */
}

.main-stop-left {
    stop-color: white;  /* Teal */
}

.outline-stop-right {
	stop-opacity: 0;
	stop-color: black;
}

.outline-stop-left {
	stop-color: black;
}

.nodes:hover {
	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
	stroke: black;
	fill: url(#mainGradient);
}

.labels {
	position: relative;
	font-family: larger Lato, Roboto, sans-serif;
	fill: #38383b;
	font-weight: bold;
	pointer-events: none;
}

.markers {
	fill: url(#mainGradient);	
	stroke: url(#outlineGradient);
	stroke-opacity: 1;
}

.marker-labels {
	fill: black;
	font-family: 'Courier';
	font-size: 10px;
}

path {
  fill: none;
  stroke: url(#outlineGradient);
}

#instructions {
  position: absolute;
  text-align: center;
  background-color: white;
  bottom: 5px; 
  width: 100%; 
  font-size: 18px;
  opacity: 1;
  pointer-events: none;
}


